<div class="container">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :name, required: true, input_html: { autocomplete: "name"} %>
      <%= f.input :native_language, collection: [['English', 'english'], ['Japanese', 'japanese']], required: true, prompt: 'Select your native language' %>
      <%= f.input :learning_language, collection: [['English', 'english'], ['Japanese', 'japanese']], required: true, prompt: 'Select the language you would like to learn' %>
      <%= f.input :learning_level, collection: [['Beginner', 'beginner'], ['Intermediate', 'intermediate'], ['Advanced', 'advanced']], required: true, prompt: 'Select your current level in the language you would like to learn' %>
      <%= f.input :photo, as: :file %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
