<div class="auth-links">
  <%- if controller_name != 'sessions' %>
    <div class="auth-links__item auth-links__item--primary">
      <span class="auth-links__text"><%= t('auth.links.already_have_account') %></span>
      <%= link_to new_session_path(resource_name), class: "auth-links__link" do %>
        <i class="fas fa-sign-in-alt"></i>
        <%= t('auth.links.log_in') %>
      <% end %>
    </div>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class="auth-links__item auth-links__item--primary">
      <span class="auth-links__text"><%= t('auth.links.dont_have_account') %></span>
      <%= link_to new_registration_path(resource_name), class: "auth-links__link auth-links__link--coral" do %>
        <i class="fas fa-user-plus"></i>
        <%= t('auth.links.sign_up') %>
      <% end %>
    </div>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class="auth-links__item">
      <%= link_to new_password_path(resource_name), class: "auth-links__link auth-links__link--subtle" do %>
        <%= t('auth.links.forgot_password') %>
      <% end %>
    </div>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <div class="auth-links__item">
      <%= link_to new_confirmation_path(resource_name), class: "auth-links__link auth-links__link--subtle" do %>
        <%= t('auth.links.no_confirmation') %>
      <% end %>
    </div>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <div class="auth-links__item">
      <%= link_to new_unlock_path(resource_name), class: "auth-links__link auth-links__link--subtle" do %>
        <%= t('auth.links.no_unlock') %>
      <% end %>
    </div>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <div class="auth-links__divider">
      <span><%= t('common.or') %></span>
    </div>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <div class="auth-links__item">
        <%= button_to omniauth_authorize_path(resource_name, provider), class: "auth-links__oauth", data: { turbo: false } do %>
          <%= t('auth.links.sign_in_with', provider: OmniAuth::Utils.camelize(provider)) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
