<%= turbo_stream_from "topics" %>

<div class="topics-index">
  <!-- Header Section -->
  <header class="topics-index__header">
    <div class="topics-index__header-content">
      <%= link_to dashboard_path, class: "topics-index__back" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div class="topics-index__title-group">
        <h1 class="topics-index__title">Explore Topics</h1>
        <p class="topics-index__subtitle">Choose a topic to learn with your partner</p>
      </div>
    </div>
  </header>

  <main class="topics-index__main">
    <!-- Search Bar -->
    <div class="topics-search">
      <%= simple_form_for :search, url: topics_path, method: :get, html: { class: "topics-search__form", data: { controller: "search-form", turbo_frame: "topics_list" } } do |f| %>
        <i class="fas fa-search topics-search__icon"></i>
        <%= f.input :query, label: false, wrapper: false, input_html: { class: "topics-search__input", placeholder: "Search topics...", value: params[:search].try(:[], :query), autocomplete: "off", data: { action: "input->search-form#submit" } } %>
      <% end %>
    </div>

    <%= turbo_frame_tag "topics_list" do %>
      <!-- Filter Tabs -->
      <div class="topics-filter">
        <%= link_to topics_path(status: nil, search: { query: params.dig(:search, :query) }), class: "topics-filter__btn #{'topics-filter__btn--active' if params[:status].blank?}" do %>
          All
        <% end %>
        <%= link_to topics_path(status: "not_started", search: { query: params.dig(:search, :query) }), class: "topics-filter__btn #{'topics-filter__btn--active' if params[:status] == 'not_started'}" do %>
          New
        <% end %>
        <%= link_to topics_path(status: "in_progress", search: { query: params.dig(:search, :query) }), class: "topics-filter__btn #{'topics-filter__btn--active' if params[:status] == 'in_progress'}" do %>
          In Progress
        <% end %>
        <%= link_to topics_path(status: "completed", search: { query: params.dig(:search, :query) }), class: "topics-filter__btn #{'topics-filter__btn--active' if params[:status] == 'completed'}" do %>
          Completed
        <% end %>
      </div>

      <!-- Topics Grid -->
      <div class="topics-grid" id="topics-list">
        <% @topics.each do |topic| %>
          <% topic_status = @topic_statuses[topic.id]&.status || "not started" %>
          <%= render partial: "topics/topic_card", locals: { topic: topic, topic_status: topic_status } %>
        <% end %>
      </div>
    <% end %>

    <!-- Topic Modals (rendered outside of grid) -->
    <div id="topic-modals">
      <% @topics.each do |topic| %>
        <% content_to_display = if current_user.learning_language == "japanese"
                                  topic.content["eng"]
                                else
                                  topic.content["jpn"]
                                end %>
        <% topic_status = @topic_statuses[topic.id]&.status || "not started" %>
        <%= render "topics/topic", topic: topic, content_to_display: content_to_display, partnership_topic: @partnership_topic, topic_status: topic_status %>
      <% end %>
    </div>
  </main>

  <!-- Floating Action Button -->
  <button type="button" class="topics-fab" data-bs-toggle="modal" data-bs-target="#newTopicModal">
    <i class="fas fa-plus"></i>
  </button>
</div>

<!-- New Topic Modal -->
<div class="modal fade topics-modal" id="newTopicModal" tabindex="-1" aria-labelledby="newTopicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTopicModalLabel">Generate a New Topic</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :topic, url: generate_topics_path, method: :post, 'data-turbo': false do |f| %>
          <%= f.input :name, label: "Title for your new topic", placeholder: "e.g., 'Planning a Trip', 'Favorite Books'", required: true, input_html: { class: "topics-modal__input", autocomplete: "off" } %>
          <div class="topics-modal__actions">
            <button type="submit" class="topics-modal__btn topics-modal__btn--primary" data-disable-with="Generating...">
              <i class="fas fa-magic"></i>
              Create Topic
            </button>
            <button type="button" class="topics-modal__btn topics-modal__btn--secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
