<footer class="footer">
  <div class="icon" id="dashboard" tabindex="0"><%= link_to dashboard_path, class: "link" do %><i class="fas fa-home"></i><% end %>
  </div>
  <% if current_user.partnership != nil %>
    <div class="icon" id="journal" tabindex="0"><%= link_to partnership_journals_path(current_user.partnership), class: "link" do %><i class="fa-solid fa-book"></i><% end %></div>
  <% end %>

  <%# Notification Bell Icon (Trigger) %>
  <div class="icon" id="notifications" tabindex="0">
    <a href="#" class="link" data-action="click->notification-panel#toggle">
      <i class="fas fa-bell"></i>
      <%= render "notifications/badge", count: @notifications.unread.count %>
    </a>
  </div>

  <div class="dropup icon">
    <button class="btn p-0 border-0 link icon" type="button"
            id="settingsDropup"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <i class="fa-solid fa-bars" tabindex="0"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="settingsDropup">
      <li>
        <%= link_to t('nav.profile'), edit_user_registration_path, class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to t('nav.select_new_topic'), topics_path, class: "dropdown-item" %>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to t('nav.sign_out'), destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </li>
    </ul>
  </div>
</footer>
