<div class="card-container">
  <div class ="journal-list">
  <h1>Journal Entry by <%= @journal.user.name %></h1>
  <p>Challenge: <%= @journal.challenge.topic.name %></p>
  <div class="list-group-item">
      <h4>Original Entry:</h4>
      <p> <%= simple_format(@journal.content) %></p>
  </div>

  <div class="list-group-item">
      <h4>Feedback:</h4>
      <% if @journal.feedback.present? %>
        <p><%= simple_format(@journal.feedback) %></p>
      <% else %>
        <p>No feedback submitted yet.</p>
      <% end %>
  </div>
  </div>

  <% if policy(@journal).update? %>
    <hr>
    <h5>Submit feedback:</h5>
    <%= simple_form_for @journal do |f| %>
      <%= f.input :feedback, as: :text, rows: 5, label: false, placeholder: "Provide feedback to your partner..." %>
      <%= f.button :submit, "Submit Feedback", class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <%= link_to "Back to all journals", partnership_journals_path(@journal.partnership), class: "btn btn-primary mt-3" %>
</div>
