<!DOCTYPE html>
<html>
  <head>
    <title>KizunaLingua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
    </style>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
